@use 'variables' as v;
.navBar{
    position: relative;
    border: 2px solid green;
    display: flex;
    justify-content: space-between;
    background-color: v.$color-cuarto;
    &__logo{
        
        display: flex;
        align-items: center;
    }
    
    &__container{
        border: 2px solid blue;
    }
    &__menu{
        display: flex;
        flex-direction: column;
        text-align: center;
        position: absolute;
        left: 400px;
        top: 10px;
        font-size: 1.3rem;

        @media(min-width: 768px){
            display: flex;
            flex-direction: row;
            left: 600px;
            font-size: 1rem;
            a{
                color: white;
            }
        }

    }
    &__link{
        &:hover{
            transition: 200ms;
            font-size: 20px;
            transform: translateY(-5px);
        }
    }
    
    &__boton{
        @media(min-width: 768px){
            display: none;
        }
    }
}
h2{
    color: white;
    font-weight: 400;
    span{
        font-weight: bold;
    }
}
a{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
}

